<div class="main-container" *ngIf="isLoggedIn">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon size="30" shape="coin-bag"></clr-icon>
        <span class="title">9Budget</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript:void(0);" clrDropdownItem (click)="hideAll(); showAPI = true;">API</a>
          <a href="javascript:void(0);" clrDropdownItem (click)="hideAll(); showAdduser = true;">Add user</a>
          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>    <!--adding it here -->
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <!--Budgets Section-->
      <div *ngIf="showBudgets">
        <app-budget></app-budget>
      </div>

      <!--Institution Section-->
      <div *ngIf="showInstitution">
        <app-institution></app-institution>
      </div>

      <!--Transaction Section-->
      <div *ngIf="showTransactions">
        <app-transaction></app-transaction>
      </div>

      <!--API Section-->
      <div *ngIf="showAPI">
        <app-swagger></app-swagger>
      </div>

      <!--Add User Section-->
      <div *ngIf="showAdduser">
        <app-adduser></app-adduser>
      </div>

    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink href="javascript:void(0);" (click)="hideAll(); showBudgets = true;">
        <clr-icon class="is-success" clrVerticalNavIcon shape="dollar"></clr-icon>
        Budgets
      </a>
      <a clrVerticalNavLink href="javascript:void(0);" (click)="hideAll(); showTransactions = true;">
        <clr-icon class="is-warning" clrVerticalNavIcon shape="piggy-bank"></clr-icon>
        Transactions
      </a>
      <a clrVerticalNavLink href="javascript:void(0);" (click)="hideAll(); showInstitution = true;">
        <clr-icon class="is-warning" clrVerticalNavIcon shape="bank"></clr-icon>
        Institution
      </a>
    </clr-vertical-nav>
  </div>
</div>
