.login-wrapper {
  background-image: url(src/assets/login-background.png);
  min-height: 130vh;

  background-repeat: no-repeat;
  background-position: right center;

}
.login-wrapper .login {
  min-height: 130vh;
}
