<div class="login-wrapper">
  <form class="login" [formGroup]="forgetpasswordForm" (ngSubmit)="submit()">
    <section class="title">
      <h3 class="welcome">Forget Password...?</h3>
      <h4 class = "welcome">No problem! </h4>
      <clr-icon size="26" shape="coin-bag"></clr-icon>
      9Budget
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" clrInput placeholder="Email" formControlName="email" required/>
      </clr-input-container>
      <button type="submit" class="btn btn-primary" [disabled]="!forgetpasswordForm.valid">Submit</button>
      <a [routerLink]="['/forgetpassword']" class="signup">Forgot Password?</a>
      <a [routerLink]="['/login']" class="signup">Login</a>
    </div>
  </form>
</div>
