<form class="login" [formGroup]="budgetNewForm" (ngSubmit)="submit()">
  <div>

    <clr-select-container>
      <label for="category">Category</label>
      <select clrSelect id="category" required formControlName="category">
        <option *ngFor="let category of keys(categoryType)" [ngValue]="category">{{categoryType[category]}}</option>
      </select>
    </clr-select-container>

    <clr-input-container>
      <label for="name">Name</label>
      <input clrInput type="text" id="name" required formControlName="name"/>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label for="amount">Amount</label>
      $<input clrInput type="text" id="amount" required formControlName="amount"/>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-input-container>

    <clr-radio-container clrInline>
      <label>When will this happen?</label>
      <clr-radio-wrapper>
        <label for="budget_biweekly">BIWEEKLY</label>
        <input type="radio" clrRadio id="budget_biweekly" formControlName="budgetTiming" required value="BIWEEKLY"/>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <label for="budget_monthly">MONTHLY</label>
        <input type="radio" clrRadio id="budget_monthly" formControlName="budgetTiming" required value="MONTHLY"/>
      </clr-radio-wrapper>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-radio-container>

    <clr-radio-container clrInline>
      <label>Use left over?</label>
      <clr-radio-wrapper>
        <label for="use_leftover_yes">Yes</label>
        <input type="radio" clrRadio id="use_leftover_yes" formControlName="useLeftOver" required value="true"/>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <label for="use_leftover_no">No</label>
        <input type="radio" clrRadio id="use_leftover_no" formControlName="useLeftOver" required value="false"/>
      </clr-radio-wrapper>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-radio-container>

    <div>
      <button type="submit" class="btn btn-success-outline" [disabled]="!budgetNewForm.valid">Create</button>
    </div>
  </div>
</form>
