<form class="login" [formGroup]="budgetDetailForm">
  <div>
    <clr-radio-container clrInline>
      <label>When will this happen?</label>
      <clr-radio-wrapper>
        <label for="option1">BIWEEKLY</label>
        <input type="radio" clrRadio id="option1" formControlName="budgetTiming" required value="BIWEEKLY"/>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <label for="option2">MONTHLY</label>
        <input type="radio" clrRadio id="option2" formControlName="budgetTiming" required value="MONTHLY"/>
      </clr-radio-wrapper>
      <clr-control-error>This field is required!</clr-control-error>
    </clr-radio-container>

    <clr-input-container>
      <label for="amount">Amount</label>
      $<input clrInput id="amount" formControlName="amount"/>
    </clr-input-container>

    <div>
      <button class="btn btn-danger-outline" (click)="delete()">Delete</button>
      <button type="submit" class="btn btn-success-outline" (click)="submit()" [disabled]="!budgetDetailForm.valid">Save</button>
    </div>
  </div>
</form>
