<!--For Toast Messages -->
<p-toast position="top-right"></p-toast>

<!--For Idle Messages -->
<p-dialog [(visible)]="display" [modal]="true" [blockScroll]="true"
          [closeOnEscape]="false" [closable]="false">
  <p-header>
    You will be logged out for being idle
  </p-header>
  {{idleState}}
  <p-footer>
    <p-button label="Stay" iconPos="left" class="ui-button-raised" styleClass="ui-button-success" (onClick)="stay()"></p-button>
    <p-button label="Logout" iconPos="right" class="ui-button-raised" styleClass="ui-button-danger" (onClick)="logout()"></p-button>
  </p-footer>
</p-dialog>

<div>
  <app-home></app-home>
</div>
<router-outlet></router-outlet>
