<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Active</th>
      </tr>
      </thead>
      <tbody>
      <td>{{ account.id }}</td>
      <td>{{ account.primaryUser.firstName }}</td>
      <td>{{ account.primaryUser.lastName }}</td>
      <td>{{ account.active }}</td>
      </tbody>
    </table>
  </div>
</div>
