<!DOCTYPE html>
<html lang="en">
    <head>
        <title>9Budget Account Activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear {name}
        </p>
        <p>
            Your Account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a href="{url}">Activation link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>9Budget</em>
        </p>
    </body>
</html>
