<!DOCTYPE html>
<html lang="en">
    <head>
        <title>9Budget User Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear {name}
        </p>
        <p>
            Your Password has been recently reset. If this was done in error or not done by you, please call 9Budget immediately.
        </p>
        <p>
            <span>Regards,</span>
            <br/>
            <em>9Budget</em>
        </p>
    </body>
</html>